*{margin:0;padding:0}
li{list-style:none}
html, body {
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
img{vertical-align:top;border:none}
.page {
            position: absolute;
            height: 100%;
            width: 100%;
            display: flex;
            left:0px;
            justify-content: center;
            z-index: 1;
            
            background-color: white;
        }

        .page.active {
            z-index: 2;
        }

.icon {
    display: inline-block;
    width: 16px; height: 20px;
    background-image: url(../201307/sprite_icons.png);
    background-color: currentColor; /* 该颜色控制图标的颜色 */
}



a,a:hover{
    text-decoration: none;
}

.topicWord{
position: absolute;
    left:35%;
    top:30%;
    font-family:"Lucida Console";
    font-size:800%;
    color:rgb(240, 236, 236);
    text-shadow: 3px 3px 8px gray;
}

#switchTheme{
    position: absolute;
    right:0px;
    
}

 #showOff{
     
     width:100%;
     height: 500px;
      object-fit:cover;
     filter: blur(3px);
 }

img:hover {
  animation: inHover 1s ease forwards;
}

@keyframes inHover {
 0%   {filter: blur(3px);}
    100% {filter: blur(8px);}
}

/*
.loading {
position: fixed;
top:0;
right:0;
left:0;
bottom:0;
background-color:white;
opacity: 0.4;
z-index:100;
}

.loading .loadGif{
    height:150px;
    width: 150px;
    background: url("img/loading.gif");
    position: fixed;
    left:50%;
    top:50%;    
    margin-left: -75px;
    margin-top: -75px;
    z-index:101;
}
@keyframes inLoading {
 0%   {filter: blur(3px);}
    100% {filter: blur(8px);}
}
*/